<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset="UTF-8"> 
<title>My Website - About</title> 
</head> 
<body> 
<h1>Sheldon Jones</h1> 
<p>Sometimes I wonder if I am making the right life choices. Especially  <br> those decisions that have grave impact on
    where they will lead me. </br>
    How do I know the still voice of the Devine versus those of my own<br>
    telling me what to do and not to do. Like, I know I enjoy aspects of </br>
    computing which are more practical than theoretical; more like a technician. <br>
    Yet the more qualified persons tend to do the supervision of the </br>
technician which to me takes the fun out of the practicality that I enjoy. </p> 
</body> 
</html>